name: Build JavaFX with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: maven

    - name: Build with Maven
      working-directory: TechnoCode
      run: mvn -B package

    - name: Upload JAR artifact
      uses: actions/upload-artifact@v4
      with:
        name: TechnoCode
        path: TechnoCode/target/*.jar
